@import "variables.scss";
@import "reset.scss";

body {
  margin: 0;
  font-family: sans-serif;
  background-color: $background-color;
}

.header {
  padding: 1.875rem 0 1.875rem;
  background-color: $header-color;

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  h3 {
    margin: 0;
    color: $transparent-text-color;
  }
}

.accordion {
  padding: 1.875rem 0;
}

#mapid {
  height: 40rem;
}
